<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sprek Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Sprek.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FB2B67B81EF96AE2003620E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB2B67CC1EF96AE2003620E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB2B67D71EF96AE2003620E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB37EBA31F32AF2A00303409</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB37EBB31F32AF2B00303409</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB37EBBE1F32AF2B00303409</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
